/* versão Tablet */
@media(max-width: 820px) {
    *{
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 100%;
        width: 100%;
    }

    .cabeçalho {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
    }

    .container-cabeçalho {
        width: 788px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .cabeçalho-menu {
        gap: 25px;
    }

    .container-principal {
        max-width: 820px;
        margin: 0 auto;
        height: 772px;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;    
    }

    .conteudo-principal-escrito {
        width: 584px;
        height: 419px;
        margin: 124px 0 229px 0;
        display: flex;
        flex-direction: column;
    }
}

/* versão Mobile */
@media(max-width: 414px) {
    *{
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 100%;
        width: 100%;
    }

    .cabeçalho {
        width: 100%;
        height: 75px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-color: #132235;
    }

    .menu-flutuante {
        width: 100%;
        height: 75px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #132235;
        float: left;
        z-index: 9999;
        position: fixed;
    }

    .container-cabeçalho {
        max-width: 374px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .cabeçalho-img {
        width: 159px;
        height: 39px;
    }

    .cabeçalho-menu {
        display: none;
    }

    .menu-responsivo {
        width: 21.71px;
        height: 19px;
        display: inline !important;
    }

    .conteudo {
        width: 100%;
        height: 2651px;
        margin: 0 auto;
    }

    .conteudo-principal {
        width: 100%;
        background-color: #FFFFFF;
    }

    .container-principal {
        max-width: 414px;
        height: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: initial;
    }

    .conteudo-principal-escrito {
        width: 335px;
        height: 246px;
        margin: 20px 20px 0 20px;
        display: flex;
    }

    .principal-titulo {
        height: 98px;
        font-weight: 700;
        font-size: 45px;
        line-height: 49.36px;
        text-align: left;
        vertical-align: top;
        font-style: bold;
    }

    .principal-escrito {
        height: 44px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21.87px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .principal-botao {
        width: 335px;
        height: 36px;
        border: 1px solid #132235;
        border-radius: 10px;
        background-color: #132235;
        font-weight: 700;
        font-size: 20px;
        line-height: 27.34px;
        font-style: bold;
        color: #6DDAD3;
        cursor: pointer;
        margin-top: 30px;
    }

    .container-img-principal {
        width: 100%;
        height: initial;
        margin: 0;
    }

    .principal-img {
        max-width: 414px;
        height: 300.8px;
        margin: 0 0 42.2px 0;
        display: flex;
    }

    .conteudo-secundario {
      width: 100%;
    }

    .container-secundario {
        max-width: 414px;
        height: 515.8px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #132235;
        padding: 0;
    }

    .secundario-escrito {
        width: 335px;
        margin: 18px 20px 0 20px;
        display: flex;
    }

    .secundario-escrito {
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .secundario-titulo {
        width: 169px;
        height: 33px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32.8px;
        vertical-align: top;
        text-align: left;
        font-style: bold;
        margin-bottom: 20px;
    }

    .secundario-texto {
        width: 335px;
        height: 148px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21.87px;
        text-align: left;
        vertical-align: top;
        margin: 0;
    }

    .container-img-secundario {
        width: 100%;
        margin: 0;
        padding-bottom: 55px;
    }

    .secundario-img {
        max-width: 335px;
        height: 210.92px;
        margin: 0 auto;
        display: flex;
    }

    .contato {
        display: none;
    }

    .conteudo-mobile {
        display: inline !important;
        color: #FFFFFF;
    }

    .container-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .secundario-titulo-mobile {
        width: 324px;
        height: 66px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32.8px;
        text-align: left;
        vertical-align: top;  
        margin: 0 20px 50px 20px;
        display: flex;
        text-align: center;
    }

    .mobile-img {
        width: 125px;
        height: 125px;
        margin: 0 125px;
    }

    .clientes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-cliente {
        height: 19px;
        font-weight: 700;
        font-size: 14px;
        line-height: 19.14px;
        font-style: bold;
        margin-top: 8px;
    }

    .texto-cima {
        width: 166px;
        height: 38px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.14px;
        font-style: italic;
        text-align: center;
        vertical-align: top;
        margin-top: 8px;
        margin-bottom: 49px;
    }

    .texto-meio {
        width: 166px;
        height: 63px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.14px;
        font-style: italic;
        text-align: center;
        vertical-align: top;
        margin-top: 8px;
        margin-bottom: 49px;
    }

    .texto-baixo {
        width: 166px;
        height: 82px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.14px;
        font-style: italic;
        text-align: center;
        vertical-align: top;
        margin-top: 8px;
        margin-bottom: 49px;
    }

    .conteudo-final {
        width: 100%;
        background-color: #FFFFFF;
    }

    .container-final {
        max-width: 414px;
        height: 610px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: initial;
    }

    .conteudo-final-escrito {
        width: 335px;
        height: 401px;
        display: flex;
        flex-direction: column;
        margin: 55px 20px 20px 20px;
        color: #132235;
        padding: 0;
    }

    .final-titulo {
        width: 209px;
        height: 33px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32.8px;
        font-style: bold;
    }

    .titulo-email {
        width: 50px;
        height: 22px;
        font-weight: 700;
        font-size: 16px;
        line-height: 21.87px;
        font-style: bold;
        margin: 20px 0 5px 0;
    }

    .input-email {
        width: 335px;
        height: 31px;
        border: 0.7px solid #132235;
        border-radius: 10px;
        padding: 0 15px;
        font-weight: 400;
        font-size: 14px;
        color: #132235;
    }

    .titulo-msg {
        width: 98px;
        height: 25px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.6px;
        font-style: bold;
        margin: 15px 0 5px 0px;
    }

    .area-msg {
        width: 335px;
        height: 143px;
        border: 0.7px solid #132235;
        border-radius: 10px;
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
        color: #132235;
    }

    .final-botao {
        width: 71px;
        height: 32px;
        border: 1px solid #132235;
        border-radius: 7px;
        background-color: #132235;
        margin: 15px 0 0 264px;
        font-weight: 700;
        font-size: 16px;
        line-height: 21.87px;
        font-style: bold;
        color: #FFFFFF;
        cursor: pointer;
    }

    .container-img-final {
        width: 100%;
        margin: 0;
    }

    .final-img {
        max-width: 414px;
        height: 183.45px;
        margin: 0 0 5px 0;
        display: flex;
        flex-wrap: initial;
        padding: 0;
    }

    .rodape {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        display: flex;
    }

    .conteudo-rodape {
        width: 100%;
    }

    .container-rodape {
        max-width: 414px;
        height: 50px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rodape-redes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .rodape-img, .rodape-texto {
        display: none;
    }
}